<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lost Network</title>
</head>
<body class="full">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/style.css') }}">
    <center>
        <img talt="banner" src="{{ url_for('static', filename='assets/lostnetwork.gif') }}" class="center" width="300" height="50"/>
        <div class="errorText" id="error">{{ logs }}</div>
        Status: <span class="infoText" id="Status">{% if status %}{{ status }}{% else %}...{% endif %}</span><br>
        <span class="infoText" id="Host">{% if data %}{{ data }}{% else %}...{% endif %}</span><br>
    </center>
</body>
</html>